.product-image-previewer{
    width: 60%;
    display: flex;
    flex-direction: row;
    /* background-color: red; */
}

.image-thumbnail-container{
    display: flex;
    flex-direction: column;
}

.image-thumbnail{
    width:  87px;
    margin-bottom: 28px;
    cursor: pointer;
}

.brand-name{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 27px;
    color: #1D1F22;
    margin: 0;
    margin-bottom: 16px;
}

.product-name{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 27px;
    color: #1D1F22;
    margin: 0;
    margin-top: 24px;
}

.product-label{
    margin-top: 40px;
    margin-bottom: 10px;
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: #1D1F22;

}

.description, .description p,.description ul li {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 159.96%;
    color: #1D1F22;
    margin-top: 0;
}

.description{
    padding-top: 16px;
}

.description ul{
    padding-left: 20px;
}
 
.product-price, .attribute-title{
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 18px;
color: #1D1F22;
margin-top: 16px;
}

.add-btn{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 32px;
    color:white;
    background: #5ECE7B;
    border: none;
    margin-top: 20px;
    text-decoration: none;
    text-transform: uppercase;
}

/* .image-thumbnail:hover{
    box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.69);
} */

.selected-image-container{
    padding-left: 30px;
    padding-right: 30px;
}

.selected-image{
    width: 460px;
}

.product-attribute-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.product-attribute{
    box-sizing: border-box;
    border: 1px solid #A6A6A6;
    margin-right: 12px;
    margin-top: 10px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    padding: 14px 29px;
    letter-spacing: 0.05em;
    color: #292929;
    background-color: white;
    cursor: pointer;
    min-width: 63px;
    min-height: 45px;
}

.selected-attribute{
    border: solid #5ECE7B 4px;
}

.product-container{
    margin-top: 32px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

